<!DOCTYPE html>


{% extends "layouts/main_base.html" %}

{% block metatags %}
<title>error 404</title>

<meta name="description" content="Minimal.">

{% endblock %}

{% block contents %}
<img class="pagebackground" src="../../static/images/ingredients.png" alt="">
<body class="">
      </div>
    </div>
  </div>
  <div class="page-header align-items-start min-vh-100">
    <span class="mask bg-gradient-dark opacity-6"></span>
    <div class="container my-auto">
      <div class="row">
        <div class="col-lg-12 m-auto text-center">
          <h1 class="display-1 text-bolder text-white">Error 404</h1>
          <h2 class="text-white">Erm. Page not found</h2>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
